li[itemtype="https://schema.org/ScholarlyArticle"]
    //display: flex
    //flex-wrap: wrap

    //span
    //    display: inline

    span[itemprop="author"]
        //display: inline-flex
        //flex-wrap: wrap

        // &::after
        //     content: ", "

        // &.last-author
        //     &::before
        //         content: " & "

        //     &::after
        //         content: " "

        white-space: nowrap

        &.me
            span[itemprop="familyName"]
                text-decoration: underline

        // span[itemprop="familyName"]
        //     &::after
        //         content: ", "
        //     &:last-child::after
        //         content: ""

    span[itemprop="datePublished"]
        &::before
            content: "("

        &::after
            content: ")"

    > h4[itemprop="name"]
        display: inline
        font-size: $font-size-base
        @include dynmetric_letter_spacing($font-size-base)
        font-weight: 600

        //&::before
        //    content: ": "

    span[itemtype="https://schema.org/Periodical"],
    span[itemtype="https://schema.org/PublicationVolume"],
    span[itemtype="https://schema.org/PublicationIssue"]
        font-style: italic

        &::after
            content: " "

    span[itemtype="https://schema.org/PublicationIssue"]
        &::before
            content: "("
        &::after
            content: ") "

body
    counter-reset: reversed(year) 2024

ol.years
    list-style-type: none
    padding: none

    >li
        &::before
            content: counter(year) "  "

        counter-increment: year -1
        float: left

