li[itemtype="https://schema.org/Chapter"],
li[itemtype="https://schema.org/ScholarlyArticle"],
li[itemtype="https://schema.org/Thesis"]

    padding-bottom: 1rem

    > h4[itemprop="name"]
        display: inline
        font-size: $font-size-base
        @include dynmetric_letter_spacing($font-size-base)
        font-weight: 600

    span[itemprop="author"],
    span[itemprop="editor"]
        white-space: nowrap

        &.me
            span[itemprop="familyName"]
                text-decoration: underline

    span[itemprop="datePublished"]
        &::before
            content: "("

        &::after
            content: ")"

    span[itemprop="inSupportOf"],
    span[itemprop="sourceOrganization"]
        font-style: italic

    span[itemtype="https://schema.org/Book"],
    span[itemtype="https://schema.org/Periodical"],
    span[itemtype="https://schema.org/PublicationVolume"],
    span[itemtype="https://schema.org/PublicationIssue"]
        font-style: italic

        &::after
            content: " "

    span[itemtype="https://schema.org/PublicationIssue"]
        span[itemprop="issueNumber"]
            display: inline-block
            margin-left: -0.25ch
            margin-right: -0.5ch

            &::before
                content: "("
            &::after
                content: ") "

    a[itemprop="sameAs"]
      margin-right: 0.5ch
