@import "./bootstrap-functions"

// override default variables here

@import "./bootstrap-variables"

// override default maps here
$body-color-dark: $gray-200
$body-bg-dark: #141515
$body-bg: #f5fcf7
$dark-bg-subtle: $gray-700

@import "./typography"

@import "./bootstrap-core"
@import "./bootstrap-extra"

//@import "./bootstrap-icons"
@import "./icons"
@import "./bibliography"

button.navbar-toggler
    background-color: var(--bs-body-bg)

footer
    a
        text-decoration: none
        color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important
        //position: static

        &:hover
            text-decoration: underline

        &.u-key
            font-size: 75%

    div.name-email, div.social-links, div.source-repositories
        margin-bottom: 1rem

    .icon::before
        // -> rgba(var(--bs-light-rgb), var(--bs-text-opacity))
        filter: invert(98%) sepia(11%) saturate(207%) hue-rotate(175deg) brightness(100%) contrast(97%)

        height: 16px
        width: 16px
        background-size: 16px

        position: relative
        top: 3px
        margin-right: 0.2rem

    .statistics
        font-size: 75%

header.navbar
    background-color: var(--bs-body-bg)

.navbar-toggler:focus
    box-shadow: none

section#introduction
    margin-top: calc(12vW + 1rem)
    margin-bottom: calc(3vW + 1rem)

    h1
        font-size: calc(1.375rem + 1vW)
        @include dynmetric_letter_spacing(2rem)
        font-weight: 630
        margin-left: -0.2rem
    p
        em, span
            display: inline-block

    p:first-child
        margin-left: -0.1rem

    p.lead
        font-weight: 500

section#projects
    h3
        font-size: 1.25rem
        @include dynmetric_letter_spacing(1.25rem)

section
    h2
        padding-top: 4rem !important

    p
        hyphens: auto

strong
    font-weight: 600 !important
