$icon-color: $body-color

$icon-bluesky: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-github' viewBox='0 0 16 16'> <path d='m8 0a8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8 8 8 0 0 0-8-8zm-5.0059 3.2578c0.33949-0.0015773 0.83669 0.13677 1.6504 0.6543 1.3575 0.86325 2.8186 2.6136 3.3555 3.5527 0.53682-0.9392 1.9979-2.6896 3.3574-3.5527 1.2999-0.82802 1.7961-0.68425 2.1211-0.55273 0.37638 0.15184 0.44531 0.67297 0.44531 0.98047 0 0.30749-0.18724 2.5122-0.30859 2.8809-0.40317 1.2152-1.832 1.6257-3.1504 1.4941 1.9313 0.25747 3.4596 1.2331 1.3535 3.1484-2.8055 2.2062-3.3474-0.4952-3.8184-1.916-0.47099 1.4208-1.387 4.2241-3.8613 1.916-2.2501-2.2543-0.53481-2.8891 1.3965-3.1484-1.3184 0.13337-2.7493-0.27712-3.1504-1.4941-0.12135-0.36857-0.30859-2.5752-0.30859-2.8809 0-0.30562 0.068925-0.82672 0.44531-0.98047 0.12262-0.05002 0.26896-0.10062 0.47266-0.10156z'/></svg>")

$icon-github: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-github' viewBox='0 0 16 16'><path d='M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z'/></svg>")

$icon-gitlab: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#000'><path d='M10 0A10 10 0 0 0 0 10a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 10 0zM4.916 3.668c.125 0 .25.07.299.21L7.01 9.425h5.98l1.795-5.545c.1-.28.498-.28.598 0l1.795 5.545.914 2.79a.633.633 0 0 1-.227.698L10 18.623v-.002l-7.865-5.709a.633.633 0 0 1-.227-.697l.914-2.791 1.795-5.545c.05-.14.174-.211.299-.211zM2.822 9.424 10 18.62 7.01 9.424H2.822zM10 18.62l7.178-9.197H12.99L10 18.62z'/></svg>")

$icon-mastodon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-mastodon' viewBox='0 0 16 16'><path d='M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z'/></svg>");

$icon-orcid: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25' fill='#000'><path d='M12.5 0C5.596 0 0 5.596 0 12.5S5.596 25 12.5 25 25 19.404 25 12.5 19.404 0 12.5 0zM6.97 3.836c.604 0 1.087.493 1.087 1.08a1.085 1.085 0 0 1-2.172 0 1.08 1.08 0 0 1 1.086-1.08zm-.83 3.46H7.8V18.74H6.14V7.297zm4.09 0h4.477c4.262 0 6.133 3.025 6.133 5.727 0 2.938-2.313 5.727-6.111 5.727H10.23V7.297zm1.657 1.485v8.485h2.636c3.756 0 4.618-2.832 4.618-4.243 0-2.297-1.476-4.242-4.703-4.242h-2.551z' fill-rule='nonzero'/></svg>")

$icon-twitter: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#000'><path d='M10 0A10 10 0 0 0 0 10a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 10 0zm2.975 5.055c.805 0 1.531.337 2.043.883a5.517 5.517 0 0 0 1.777-.676 2.793 2.793 0 0 1-1.23 1.543 5.612 5.612 0 0 0 1.61-.434 6.022 6.022 0 0 1-1.404 1.447c.01.122.01.242.01.364 0 3.699-2.815 7.96-7.96 7.96a7.907 7.907 0 0 1-4.298-1.255c.226.026.442.035.676.035a5.6 5.6 0 0 0 3.473-1.195 2.803 2.803 0 0 1-2.615-1.942 2.958 2.958 0 0 0 1.264-.053 2.797 2.797 0 0 1-2.243-2.746v-.033c.373.208.805.338 1.264.356a2.795 2.795 0 0 1-1.246-2.33c0-.52.138-.997.38-1.413a7.954 7.954 0 0 0 5.77 2.928 3.171 3.171 0 0 1-.07-.642 2.797 2.797 0 0 1 2.799-2.797z'/></svg>")

$icon-xmpp: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='#000'><path fill-rule='evenodd' d='M10 0A10 10 0 0 0 0 10a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 10 0zm6.834 4.387c.42 3.556-1.836 8.07-5.863 10.703 1.085.902 2.33 1.59 3.697 1.935v.24a11.553 11.553 0 0 1-4.117-1.144 11.893 11.893 0 0 1-.27-.137l-.011-.005-.051-.028a12.64 12.64 0 0 1-.365-.197c-.839.452-1.728.807-2.659 1.04-.603.166-1.231.291-1.879.372v-.25c1.297-.328 2.484-.964 3.53-1.799C5.04 12.47 2.762 7.935 3.162 4.475l.826.293v.007l2.44.721c-.011.142-.012.283-.012.436 0 2.642 1.321 5.858 3.523 8.19 2.265-2.34 3.63-5.614 3.63-8.298 0-.152-.001-.294-.012-.435l2.45-.727.827-.275z'/></svg>")

$icon-external-link: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-box-arrow-up-right' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/><path fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/></svg>")

// for the filters below, compare https://codepen.io/sosuke/pen/Pjoqqp
// and https://css-tricks.com/change-color-of-svg-on-hover/

.icon
    width: 20px
    height: 20px
    position: relative
    margin-right: 3px
    vertical-align: middle

    &::before
        display: inline-block
        flex-shrink: 0
        width: 20px
        height: 20px
        content: ""
        background-repeat: no-repeat
        background-size: 20px
        filter: invert(16%) sepia(23%) saturate(211%) hue-rotate(168deg) brightness(90%) contrast(102%) // $gray-900

    &.icon-hover:hover::before
        filter: invert(83%) sepia(10%) saturate(231%) hue-rotate(169deg) brightness(86%) contrast(92%) // $gray-500

    &.icon-bluesky
        &::before
            background-image: #{escape-svg($icon-bluesky)}

    &.icon-github
        &::before
            background-image: #{escape-svg($icon-github)}

    &.icon-gitlab
        &::before
            background-image: #{escape-svg($icon-gitlab)}

    &.icon-mastodon
        &::before
            background-image: #{escape-svg($icon-mastodon)}

    &.icon-orcid
        &::before
            background-image: #{escape-svg($icon-orcid)}

    &.icon-twitter
        &::before
            background-image: #{escape-svg($icon-twitter)}

    &.icon-xmpp
        &::before
            background-image: #{escape-svg($icon-xmpp)}

    &.icon-external-link
        &::before
            background-image: #{escape-svg($icon-external-link)}
            width: 12px
            height: 12px
            background-size: 12px
            margin-left: 3px

@include color-mode(dark)
    .icon
        &::before
            filter: invert(100%) sepia(8%) saturate(2161%) hue-rotate(174deg) brightness(91%) contrast(106%) // $gray-200
        &.icon-hover:hover::before
            filter: invert(83%) sepia(10%) saturate(231%) hue-rotate(169deg) brightness(86%) contrast(92%) // $gray-500
